{{- define "title" }}
    {{- $pager := .Scratch.Get "paginatorPager" -}}
    {{- if and $pager (gt $pager.PageNumber 1) -}}
        {{ $pageNumber := printf "%v %v %v" (T "prefixPageNumber") $pager.PageNumber (T "suffixPageNumber") }}
        {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} {{ $pageNumber }} - {{ .Site.Title -}}
    {{- else -}}
         {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" }} - {{ .Site.Title -}}
    {{- end -}}
{{- end -}}

{{- define "content" -}}
    {{- $pager := .Scratch.Get "paginatorPager" -}}
    <div class="page archive">
        <h2 class="single-title">
            {{- .Params.Title | default (T .Section) | default .Section | dict "Some" | T "allSome" -}}
        </h2>

        {{- if $pager -}}
            {{- partial "recentlyUpdated.html" . -}}
            {{- range $pager.PageGroups -}}
                <h3 class="group-title">{{ .Key }}</h3>
                {{- range .Pages -}}
                    {{- $displayDate := .Date -}}
                    {{- if ne .Lastmod.Unix .Date.Unix -}}
                        {{- $displayDate = .Lastmod -}}
                    {{- end -}}
                    <div class="archive-item">
                        <a href="{{ .RelPermalink }}" class="archive-item-link">
                            {{- .Title -}}
                        </a>
                        <span class="archive-item-date">
                            {{- $.Site.Params.section.dateFormat | default "01-02" | $displayDate.Format -}}
                        </span>
                    </div>
                {{- end -}}
            {{- end -}}
            {{- partial "paginator.html" . -}}
        {{- end -}}
    </div>
{{- end -}}
